In [10]:
import pandas as pd

In [66]:
df=pd.read_csv('Top Indian Places to Visit.csv')
df.head()

,Unnamed: 0,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit
0,0,Northern,Delhi,Delhi,India Gate,War Memorial,1921,0.5,4.6,0,Yes,NaN,Historical,Yes,2.60,Evening
1,1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,1572,2.0,4.5,30,Yes,NaN,Historical,Yes,0.40,Afternoon
2,2,Northern,Delhi,Delhi,Akshardham Temple,Temple,2005,5.0,4.6,60,Yes,NaN,Religious,No,0.40,Afternoon
3,3,Northern,Delhi,Delhi,Waste to Wonder Park,Theme Park,2019,2.0,4.1,50,Yes,Monday,Environmental,Yes,0.27,Evening
4,4,Northern,Delhi,Delhi,Jantar Mantar,Observatory,1724,2.0,4.2,15,Yes,NaN,Scientific,Yes,0.31,Morning

In [67]:
df = df[(df['Entrance Fee in INR']!= 0)]
df

,Unnamed: 0,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit
1,1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,1572,2.0,4.5,30,Yes,NaN,Historical,Yes,0.40,Afternoon
2,2,Northern,Delhi,Delhi,Akshardham Temple,Temple,2005,5.0,4.6,60,Yes,NaN,Religious,No,0.40,Afternoon
3,3,Northern,Delhi,Delhi,Waste to Wonder Park,Theme Park,2019,2.0,4.1,50,Yes,Monday,Environmental,Yes,0.27,Evening
4,4,Northern,Delhi,Delhi,Jantar Mantar,Observatory,1724,2.0,4.2,15,Yes,NaN,Scientific,Yes,0.31,Morning
7,7,Northern,Delhi,Delhi,Red Fort,Fort,1648,2.0,4.5,35,Yes,NaN,Historical,Yes,1.50,Afternoon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,318,Northern,Delhi,New Delhi,Rail Museum,Museum,1977,2.0,4.4,50,Yes,Monday,Cultural,Yes,0.24,Morning
321,321,Central,Uttar Pradesh,Agra,Agra Fort,Fort,1565,2.0,4.5,40,Yes,NaN,Historical,Yes,1.30,Afternoon
322,322,Central,Madhya Pradesh,Bhopal,Madhya Pradesh Tribal Museum,Museum,2013,2.0,4.7,10,Yes,Monday,Cultural,Yes,0.15,All
323,323,Northern,Rajasthan,Jaipur,City Palace,Palace,1727,2.0,4.4,200,Yes,NaN,Historical,Yes,0.51,Morning
324,324,Northern,Rajasthan,Jaipur,Albert Hall Museum,Museum,1887,2.0,4.5,200,Yes,NaN,Historical,Yes,0.63,All

In [72]:
df=df[['Google review rating','Number of google review in lakhs','Entrance Fee in INR']]
df

,Google review rating,Number of google review in lakhs,Entrance Fee in INR
1,4.5,0.40,30
2,4.6,0.40,60
3,4.1,0.27,50
4,4.2,0.31,15
7,4.5,1.50,35
...,...,...,...
318,4.4,0.24,50
321,4.5,1.30,40
322,4.7,0.15,10
323,4.4,0.51,200
324,4.5,0.63,200

In [73]:
df=pd.get_dummies(df,dtype=int)
df

,Google review rating,Number of google review in lakhs,Entrance Fee in INR
1,4.5,0.40,30
2,4.6,0.40,60
3,4.1,0.27,50
4,4.2,0.31,15
7,4.5,1.50,35
...,...,...,...
318,4.4,0.24,50
321,4.5,1.30,40
322,4.7,0.15,10
323,4.4,0.51,200
324,4.5,0.63,200

In [74]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [86]:
x=df.drop(columns=['Entrance Fee in INR'])
y=df[['Entrance Fee in INR']]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20)

In [89]:
model=LinearRegression()
model.fit(x_train,y_train)
model.score(x_test,y_test)

-0.018041980534802438

In [90]:
from sklearn.tree import DecisionTreeClassifier
decision=DecisionTreeClassifier()
decision.fit(x_train,y_train)
decision.score(x_test,y_test)

0.06896551724137931